@import url("nt-colors.css");
@import url("v2-colors.css");
/*
.cc {
    font-family: "Segoe UI";
    font-size: 100px;
}*/
.gypna-main-sec-1 {
    background-image: url("/assets/design/sec-1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gypna-page-hood {
    background-image: url("/assets/design/page-hood-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.gypna-section-2-left-wraper {
    background-image: url("/assets/design/sec-2-left-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.gypna-section-member {
    background-image: url("/assets/design/member-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.input-border {
    border-left: 1px solid #5bb250;
    border-bottom: 1px solid #5bb250;
}

.footer {
    background-image: url("/assets/design/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.gypna-v2-border-mid-green {
    border-color: #5BB250;
}
*/

.auth-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.auth-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.auth-input:focus {
    outline: none !important;
    border-color: #bee2b9;
    border: 1px solid #bee2b9;
    box-shadow: 0 0 0 #bee2b9;
    outline: 0 !important;
}

.auth-left-img {
    background-image: url("/assets/img/auth-phon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*
    Profile


*/
.profile-modal {
    min-width: 100px;
    max-width: 800px;
}

/*
Forms
*/

/* Toggle A */
.toggle-checkbox:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
  
  /* Toggle B */
  .toggle-checkbox:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }




