/* Backgroun Color */
.bg-nt-0 {background-color: #2E3440;}
.bg-nt-1 {background-color: #3B4252;}
.bg-nt-2 {background-color: #434C5E;}
.bg-nt-3 {background-color: #4C566A;}
.bg-nt-4 {background-color: #D8DEE9;}
.bg-nt-5 {background-color: #E5E9F0;}
.bg-nt-6 {background-color: #ECEFF4;}
.bg-nt-7 {background-color: #8FBCBB;}
.bg-nt-8 {background-color: #88C0D0;}
.bg-nt-9 {background-color: #81A1C1;}
.bg-nt-10 {background-color: #5E81AC;}
.bg-nt-11 {background-color: #BF616A;}
.bg-nt-12 {background-color: #D08770;}
.bg-nt-13 {background-color: #EBCB8B;}
.bg-nt-14 {background-color: #A3BE8C;}
.bg-nt-15 {background-color: #B48EAD;}
.hover-bg-nt-0:hover {background-color: #2E3440;}
.hover-bg-nt-:hover {background-color: #3B4252;}
.hover-bg-nt-2:hover {background-color: #434C5E;}
.hover-bg-nt-3:hover {background-color: #4C566A;}
.hover-bg-nt-4:hover {background-color: #D8DEE9;}
.hover-bg-nt-5:hover {background-color: #E5E9F0;}
.hover-bg-nt-6:hover {background-color: #ECEFF4;}
.hover-bg-nt-7:hover {background-color: #8FBCBB;}
.hover-bg-nt-8:hover {background-color: #88C0D0;}
.hover-bg-nt-9:hover {background-color: #81A1C1;}
.hover-bg-nt-10:hover {background-color: #5E81AC;}
.hover-bg-nt-11:hover {background-color: #BF616A;}
.hover-bg-nt-12:hover {background-color: #D08770;}
.hover-bg-nt-13:hover {background-color: #EBCB8B;}
.hover-bg-nt-14:hover {background-color: #A3BE8C;}
.hover-bg-nt-15:hover {background-color: #B48EAD;}
/* Text Color */
.text-nt-0 {color: #2E3440;}
.text-nt-1 {color: #3B4252;}
.text-nt-2 {color: #434C5E;}
.text-nt-3 {color: #4C566A;}
.text-nt-4 {color: #D8DEE9;}
.text-nt-5 {color: #E5E9F0;}
.text-nt-6 {color: #ECEFF4;}
.text-nt-7 {color: #8FBCBB;}
.text-nt-8 {color: #88C0D0;}
.text-nt-9 {color: #81A1C1;}
.text-nt-10 {color: #5E81AC;}
.text-nt-11 {color: #BF616A;}
.text-nt-12 {color: #D08770;}
.text-nt-13 {color: #EBCB8B;}
.text-nt-14 {color: #A3BE8C;}
.text-nt-15 {color: #B48EAD;}
.hover-text-nt-0:hover {color: #2E3440;}
.hover-text-nt-1:hover {color: #3B4252;}
.hover-text-nt-2:hover {color: #434C5E;}
.hover-text-nt-3:hover {color: #4C566A;}
.hover-text-nt-4:hover {color: #D8DEE9;}
.hover-text-nt-5:hover {color: #E5E9F0;}
.hover-text-nt-6:hover {color: #ECEFF4;}
.hover-text-nt-7:hover {color: #8FBCBB;}
.hover-text-nt-8:hover {color: #88C0D0;}
.hover-text-nt-9:hover {color: #81A1C1;}
.hover-text-nt-10:hover {color: #5E81AC;}
.hover-text-nt-11:hover {color: #BF616A;}
.hover-text-nt-12:hover {color: #D08770;}
.hover-text-nt-13:hover {color: #EBCB8B;}
.hover-text-nt-14:hover {color: #A3BE8C;}
.hover-text-nt-15:hover {color: #B48EAD;}

