.gypna-v2-bg-dark-green      { background-color: #234821; }
.gypna-v2-bg-mid-green       { background-color: #5BB250; }
.gypna-v2-bg-muddy-green     { background-color: #BEE2B9; }
.gypna-v2-bg-soft-green      { background-color: #DEF5DB; }
.gypna-v2-bg-light-green     { background-color: #e9fae4; }
.gypna-v2-bg-white-green     { background-color: #F7FFF6; }

.gypna-v2-border-dark-green      { border-color: #234821; }
.gypna-v2-border-mid-green       { border-color: #5BB250; }
.gypna-v2-border-muddy-green     { border-color: #BEE2B9; }
.gypna-v2-border-soft-green      { border-color: #DEF5DB; }
.gypna-v2-border-light-green     { border-color: #e9fae4; }

.gypna-v2-text-dark-green      { color: #234821; }
.gypna-v2-text-mid-green       { color: #5BB250; }
.gypna-v2-text-muddy-green     { color: #BEE2B9; }
.gypna-v2-text-soft-green      { color: #DEF5DB; }
.gypna-v2-text-light-green     { color: #e9fae4; }
